:root {
  --main: darkcyan;
  --accent:rgb(231, 145, 154);
  --heading: grey;
  --text: #eef3ea;
}
* {
  box-sizing: border-box;
  display:flexbox;
}

body {
  background-color: var(--main);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 1000px;
}
nav {
  background-image: linear-gradient( var(--accent), var(--accent), var(--main));
  text-align: center;
  margin: 2px;
  padding: 2px;
  min-width: 100%; 
}
main, section {
  min-height: fit-content;
}
figure img {
  height: 30vh;
  min-height: 300px;
  border: 1vh solid var(--text);
}
ul li {
  justify-content: space-around;
  list-style: none;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px;
}

header {
  padding: 60px;
  text-align: center;
  background: var(--heading);
  color: var(--text);
}

.card {
  padding: 10px;
  float:top;
  flex-wrap: wrap;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: left;
}

.card img, .work img, .larger img {
  width: 100%;
  max-width: 100vh;
  min-height: 350px;
  min-width: 350px;
  background-color: var(--main);
}

.work {
  padding: 10px;
  float: left;
  display: inline-flexbox;
  flex-wrap: wrap;
  min-width: 200px;
  max-width: 32%;
  height: max-content;
  
}
.work:hover, .larger:hover {
  opacity: 0.60;
}

.larger {
  padding: 10px;
  float: left;
  display: inline-flexbox;
  flex-wrap: wrap;
  max-width: 100%;
  min-height:200px;
  min-width: 600px;
}

.larger img {
  min-width: 900px;

}

footer {
  height: 10vh;
  background-image: linear-gradient(var(--main), var(--accent));
  min-width: 100%;
  position: absolute;
  bottom: 0;
}
.footer {
text-align: center;
padding: 0 5%;
}

/* Cards are split into two columns at 992px or smaller. Header, main, and footer sections stay correctly stylized. */
@media screen and (max-width: 992px) {
  main {
   padding: 5px;
  }
  .work, .larger, .work img, .larger img, header {
      width: 50%;
      min-width: 350px;
  }
  .work img, .larger img {
    min-height: 350px;
  }
 
  /* Change the header color */
  header {
    background: darkslategray;
  }
}

/* Cards are stacked on top of each other at 768px or smaller. Header, main, and footer sections stay correctly stylized. */
@media screen and (max-width: 768px) {

  main {
    padding-bottom: 800px;
  }
  .work, .larger, .card, .work img, .larger img, header {
    width: 100%;
    min-width: 400px;
    padding: 5px;
  }
  /* Change the header color */
  header {
    background: #0E1717;
  }
  
}