:root {
  --main: darkcyan;
  --accent:rgb(231, 145, 154);
  --text: #b9c6ae;
}
*{
  box-sizing: border-box;
  text-align: center;
}
  body {
    background-color: var(--main);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
  }
  
nav {
  background-color: var(--accent);
  text-align: center;
  margin: 2px;
  padding: 2px;
  height: 30vh;
  min-height: 400px;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: large;
  
}
figure img {
  height: 25vh;
  min-height: 200px;
  border: 1vh solid var(--text);
}
main {
  min-height: 60vh;
}
ul li {
  justify-content: space-around;
  list-style: none;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 5px;
  border: dashed 0.5px rgb(10, 15, 1);
  
}
footer {
  height: 10vh;
  background-color: var(--accent);
  min-height: 50px;
}
main section {
  border: dashed 1px var(--text);
  min-height: 20vh;
}
